<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IMAP_gmail_server" value="imap.gmail.com"></add>
		<add key="IMAP_gmail_port" value="993"></add>

		<add key="SMTP_gmail_server" value="smtp.gmail.com"></add>
		<add key="SMTP_gmail_port" value="587"></add>
	</appSettings>
</configuration>